<div class="container-fluid  main">
  <div class="main__center d-flex flex-column ">
    <%= render 'layouts/undernav' %>
    <%# here will be all the tweets and stuff %>
    <div class="container-fluid main__center__newsfeed">
      <p id="notice" class="p-3"><%= notice %></p>

      <%= form_for @opinion, url: {controller: "opinions", action: "create"} do |f| %>
      <div class="card m-5 rounded">
        <div class="card-body ">
          <h1 class="text-loud">Opinions</h1>
          <h2>What's on your mind</h2>
          <div class="form-group">
            <%= f.text_area :text, rows:"2", class:"form-control" %>
            <%= f.submit "Opinionate",class:"btn mt-5 mybtn" %>
          </div>
        </div>
      </div>
      <% end %>


      <% @fresh_opinions.each do |opinion| %>
       <div class="card m-5 rounded">
        <div class="card-body d-flex">

        <div class="opinions_img mr-5">
           <%= image_tag opinion.author.photo %>
        </div>
        <div class="opinions_text">
          <h2 class="text-loud"><%= opinion.author.fullname %></h2>
          <p><%= opinion.text %></p>
        </div>
        </div>
      </div>
      <% end %>


    </div>




  </div>

  <div class="main__right d-flex flex-column border-left">
    <div class="main__right__heading d-flex align-items-center border-bottom ">
      <h2 class="ml-4 text-loud ">Who to follow</h2>
    </div>
    <div class="main__right__whotofollow d-flex flex-column align-items-center">
      <div class="follow_these">
        <% @popular_users.each_with_index do |follower,indx| %>
        <div class="d-flex mt-5">
          <div class="following_img mr-3">
            <a href="<%= user_path(follower)%>">
              <%= image_tag follower.photo %>
            </a>
          </div>
          <a href="<%= user_path(follower)%>">
            <div class="followers_right d-flex flex-column align-items-center">
              <p class="m-0 text-loud "><%= follower.fullname %></p>
              <span>@<%= follower.username %></span>
            </div>
          </a>
        </div>
 
        <% end %>
      </div>
    </div>

  </div>


</div>