<div class="container-fluid  main">
  <div class="main__center d-flex flex-column ">

     <%= render 'layouts/undernav' %>


    <div class="container-fluid main__center__newsfeed">
      <p id="notice"><%= notice %></p>
      <div class="card m-5 rounded">
        <div class="card-body ">
          <h1 class="text-loud">Opinions</h1>
          <h2>What's on your mind</h2>
          <%= form_for @opinion, url: {controller: "opinions", action: "create"} do |f| %>
          <div class="form-group">
            <%= f.text_area :text,class:"form-control" %>
            <%= f.submit "Opinionate",class:"btn btn-primary" %>
          </div>
          <% end %>

        </div>
      </div>
      <% @fresh_opinions.each do |opinion| %>

      <div class="card m-5 rounded">
        <div class="card-body ">
          <h2><%= opinion.author.fullname %></h2>
          <p><%= opinion.text %></p>

        </div>
      </div>

      <% end %>
   
    </div>




  </div>
</div>