<p id="notice"><%= notice %></p>

<h1>Opinions</h1>


    <% @opinions.each do |opinion| %>
       
       
       
       
        <%= link_to 'Show', opinion %>
        <%= link_to 'Edit', edit_opinion_path(opinion) %>
        <%= link_to 'Destroy', opinion, method: :delete, data: { confirm: 'Are you sure?' } %>
 
    <% end %>
 

<br>

<%= link_to 'New Opinion', new_opinion_path %>
