<div class="visited__functionality border-bottom">

	<div class="visited__container d-flex flex-column align-items-center justify-content-around">

		<div class="image_navigation d-flex align-items-center justify-content-center">
		<% unless current_user.followed_persons.include?(@user) || current_user == @user %>
			
			<%= link_to    user_followings_path(user_id: @user.id),method: :post ,class: "mr-2" do %>
			<svg class="icon-viewuser">
				<use xlink:href="#icon-plus-circle" />
			</svg>
			<% end %>
 	<% end %>
			<div class="guest__image">
				<%= image_tag "http://via.placeholder.com/400x400" %>
			</div>
	<% unless current_user.followed_persons.include?(@user) || current_user == @user %>
			<%= link_to   root_path, class: "ml-2"  do%>
			<svg class="icon-viewuser">
				<use xlink:href="#icon-list" />
			</svg>
			<% end %>
		<% end %>
		</div>

		<p class="visited__fullname m-0 p-0 text-loud text-uppercase font-weight-bold"><%= @user.fullname %></p>
		<span class="visited__username m-0 p-0">@<%= @user.username %></span>
	</div>

	<%# follows followigns section  %>
	<div class="follows border-top  px-1">
		<div class="follows__followers d-flex flex-column justify-content-center align-items-center border-right">
			<p class="follows__count text-bold font-weight-bold text-loud"><%= @user.followings.count %></p>
			<span class="follows__heading  ">Following</span>
		</div>

		<div class="follows__followers d-flex flex-column justify-content-center align-items-center border-right">
			<p class="follows__count font-weight-bold text-loud"><%= @user.followers.count %></p>
			<span class="follows__heading  ">Followers</span>
		</div>

		<div class="follows__followers d-flex flex-column justify-content-center align-items-center">
			<p class="follows__count font-weight-bold text-loud"><%= @user.opinions.count %></p>
			<span class="follows__heading  ">Opinions</span>
		</div>
	</div>

</div>