<div class="global-container">
  <div class="card login-form">
    <div class="card-body">
      <h3 class="card-title text-center">Register to Danceter</h3>
      <div class="card-text">

     
        <%= form_for @user do |f| %>
 <%= show_errors %>
 
        <div class="form-group">
          <%= f.label :username, "Username" %>
          <%= f.text_field :username, class:"form-control form-control-sm"%>
        </div>

        <div class="form-group">
          <%= f.label :fullname, "Full name" %>
          <%= f.text_field :fullname,class:"form-control form-control-sm" %>
        </div>

        <div class="form-group">
          <%= f.label :photo, "Icon Photo" %>
          <%= f.text_field :photo ,class:"form-control form-control-sm" %>
          <span ><strong class="text-danger">Important!!!</strong>  by default you are given a default image you can change it with a live link from the internet </span>
        </div>
        
         <div class="form-group">
          <%= f.label :coverimage, "Cover image" %>
          <%= f.text_field :coverimage ,class:"form-control form-control-sm" %>
 <span ><strong class="text-danger">Important!!!</strong>  by default you are given a default image you can change it with a live link from the internet </span>

        </div>
        

        <%= f.submit "Register",class:"btn btn-primary btn-block log_btn" %>
        <p>Do you have an account? <%= link_to  "Login", login_path %></p>
        <% end %>

      </div>
    </div>
  </div>
</div>