<div class="global-container">
  <div class="card login-form">
    <div class="card-body">
      <h3 class="card-title text-center">Register to Danceter</h3>
      <div class="card-text">


        <%= form_for @user do |f| %>

        <div class="form-group">
          <%= f.label :username, "Username" %>
          <%= f.text_field :username, class:"form-control form-control-sm"%>
        </div>

        <div class="form-group">
          <%= f.label :fullname, "Full name" %>
          <%= f.text_field :fullname,class:"form-control form-control-sm" %>
        </div>

        <div class="form-group">
          <%= f.label :photo, "Icon Photo" %>
          <%= f.text_field :photo ,class:"form-control form-control-sm" %>
        </div>
        
         <div class="form-group">
          <%= f.label :coverimage, "Cover image" %>
          <%= f.text_field :coverimage ,class:"form-control form-control-sm" %>
        </div>
        

        <%= f.submit "Register",class:"btn btn-primary btn-block" %>
        <% end %>

      </div>
    </div>
  </div>
</div>