<div class="mynav">
  <div class="picture-name p-4">
   <%= link_to  user_path(current_user) do %>
     <%= image_tag current_user.photo ,class:"current_user_img" %>
   <% end %>
  
    <%= link_to "#{current_user.fullname }" ,user_path(current_user), class:"current_user font-weight-bold" %>
  </div>

  <div class="follows  px-1  bg-left    ">
    <div class="follows__followers d-flex flex-column justify-content-center align-items-center  ">
      <p class="follows__count font-weight-bold "><%= current_user.followings.count %></p>
      <span class="follows__heading  font-weight-bold">Following</span>
    </div>

    <div class="follows__followers d-flex flex-column justify-content-center align-items-center">
      <p class="follows__count font-weight-bold "><%= current_user.followers.count %></p>
      <span class="follows__heading  font-weight-bold ">Followers</span>
    </div>
  </div>

  <ul class="left_navigation d-flex flex-column p-0">
  
    <li class="left_navigation__link"> <%= link_to  "Home", root_path %></li>
    <li class="left_navigation__link"> <%= link_to  "Discover", root_path %></li>
    <li class="left_navigation__link"><%= link_to  "Profile", root_path %></li>
  </ul>

</div>