<%= render 'layouts/svgs' %>
<nav class="topnav">
  <div class="topnav__logo ml-5">
    <%= link_to  root_path do  %>
    <svg class="icon-danceter">
      <use xlink:href="#icon-danceter" />
    </svg>
    <% end %>
  </div>
  <div class="topnav__right mr-5">

    <%= link_to  root_path,class: "navlink" do  %>
    <svg class="icon-nav">
      <use xlink:href="#icon-pen" />
    </svg>
    <% end %>

    <%= link_to  root_path,class: "navlink"  do  %>
    <svg class="icon-nav">
      <use xlink:href="#icon-home" />
    </svg>
    <% end %>

    <%= link_to logout_path, method: :delete,class: "navlink"  do %>
    <svg class="icon-nav">
      <use xlink:href="#icon-exit" />
    </svg>
    <% end %>

  </div>
</nav>