<!DOCTYPE html>
<html>

<head>
  <title>Danceter</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  <%= favicon_link_tag asset_path('SVG/danceter.svg') %>
</head>

<body>
  <div class="container-fluid h-100 d-flex">
    <%= render 'layouts/navleft' %>
    <div class="container-fluid  d-flex flex-column">
      <%= render 'layouts/navbartop' %>
      <%= show_errors %>

      <%= yield %>
 

    </div>
  </div>
</body>

</html>