<!DOCTYPE html>
<html>

<head>
  <title>Danceter Login</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'authentication', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="container-fluid d-flex px-0">

    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
  </div>
  </div>
</body>

</html>